<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3113a745-9d38-4873-9fbe-2a30f92c86b8/resourceGroups/CE-v2/providers/Microsoft.Web/sites/ch-ce-api</ResourceId>
    <ResourceGroup>CE-v2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ch-ce-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>96fbfb28-713c-4f0d-994e-32cb22aa7e0c</ProjectGuid>
    <PublishUrl>https://ch-ce-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ch-ce-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>